* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #EFF6FF;
}

/* --------------------------- */
.container_1 {

    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.flex_center_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.flex_center_box h2 {
    margin-left: 10px;
    color: #3B82F6;
}

.container_1 h3 {
    margin-bottom: 10px;
}



/* --------------------------- */

.container_2 {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.container_2 .container_2_box_1 {
    width: 400px;
    border-radius: 16px;
    background: white;
}

.container_2 .container_2_box_1 p {
    text-align: left;
    margin-left: 40px;
    padding-top: 30px;
    font-size: 11px;
}

.container_2 .container_2_box_1 #name, #password  {
    width: 320px;
    height: 40px;
    margin-top: 10px;
    padding-left: 20px;
    opacity: 0.7;
}

/* --------------------------- */



.container_2 .container_2_box_2 {
    width: 100%;
    height: 40px;

    align-items: center;
    text-align: left;

    margin-top: 20px;

}


.container_2 .container_2_box_2 #stayLogin {
    margin-left: 40px;
}

.container_2 .container_2_box_2 label {
    margin-left: 5px;
    font-size: 11px;
}


.container_2 .container_2_box_1 .container_2_box_2 #findAcount

{margin-left: 85px;

    font-size: 11px;
}

/* --------------------------- */

.container_2 .container_2_box_1 #LoginBtn {
    width: 320px;
    height: 40px;
    border-radius: 40px;
    border: 0;
    margin-bottom: 20px;
    background-color: #3B82F6;
    color: white;
    font-size: 11px;
}



/* --------------------------- */

.container_3 {
    width: 400px;
    display: flex;
    margin-top: 30px;
    margin-left: 200px;



}

.container_3 p {

    font-size: 11px;
}

.container_3 a {
    margin-left: 20px;
    font-size: 11px;
    text-decoration-line: none;
}


/* --------------------------- */

.container_4 {
    width: 400px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_4 a {
    text-decoration-line: none;
}


/* --------------------------- */


.container_5 {
    width: 350px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


.container_5 button {
    font-size: 11px;
    border-radius: 12px;
    border: 0.5px solid black;
    width: 170px;
    height: 40px;
    background-color: transparent;

    opacity: 0.7;
}

/* --------------------------- */