* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F9FAFB;
}

.main_wrap {
    width: 1400px;
    height: 100%;
    background: white;


}

.main_wrap .container_1 {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-top: 30px;
}

.main_wrap .container_1 .box_1 {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.main_wrap .container_1 .box_1 h2 {
    margin-left: 10px;
    color: #3B82F6;
}

.main_wrap .container_1 .box_2 {
    margin-left: 300px;
}


.main_wrap .container_1 .box_2 a {
    margin-left: 30px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}


.main_wrap .container_1 .box_3 {
    margin-left: 150px;
}

.main_wrap .container_1 .box_3 button {
    width: 150px;
    height: 40px;
    background: #2563EB;
    border-radius: 25px;
    border: 0px black solid;
    color: white;
}


.main_wrap .container_1 .box_3 button #btn_img {
    margin-left: 10px;
}


/* --------------로고, 메뉴, 시작하기까지------------------ */

#contentWrap {
    width: 100%;
    background: #F9FAFB;


}

.container_2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

.container_2_box_1 h1 {
    margin-bottom: 20px;
}

.container_2_box_1 p {
    color: #4B5563;
}

/* -------------- 동네 랭킹 설정 ------------------ */


.container_3 {
    width: 70%;
    display: flex;
    text-align: center;
    margin-top: 30px;
    /* border: 1px solid black; */

}

.container_3 img {
    margin-top: 20px;
}



.container_3 h2 {
    margin-top: 10px;
    font-size: 30px;
}

.container_3 p {
    margin-top: 10px;
}



.container_3 .name {
    font-weight: bold;
    font-size: 25px;
}

.container_3 .point {
    color: #2563EB;
    font-weight: bold;
    font-size: 20px;
}

.container_3 .play {
    margin-bottom: 20px;
}



#rank_2 {
    width: 33%;
    border: 1px solid black;
    margin: 10px;
    margin-top: auto;
    border: 1px solid #BFDBFE;
    background: #EFF6FF;
    border-radius: 8px;
    box-shadow: 0px 15px 20px rgb(0, 0, 0, 0.2);

}


#rank_1 {
    width: 33%;
    border: 1px solid #BFDBFE;
    background: #EFF6FF;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0px 15px 20px rgb(0, 0, 0, 0.2);
}

#rank_1 div {
    margin-top: 40px;
}



#rank_3 {
    width: 33%;
    border: 1px solid black;
    margin: 10px;
    margin-top: auto;
    border: 1px solid #BFDBFE;
    background: #EFF6FF;
    border-radius: 8px;
    box-shadow: 0px 15px 20px rgb(0, 0, 0, 0.2);
}


/* --------------하위 랭킹 출력 css------------------ */

/* .other_box {
    width: 100%;
    height: 80px;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;

} */

.other_box, tr {
    width: 100%;
    height: 80px;
    font-size: 30px;
    text-align: center;
    border: 1px solid #BFDBFE;
    border-collapse: collapse;

    margin-top: 40px;

}

.bottom_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;


}


.container_4 {
    width: 50%;
    display: flex;

    font-size: 20px;

    text-align: center;

    margin-top: 40px;

    /* border: 1px solid black; */
    border-radius: 20px;

    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
    background: white;

    padding: 10px;

}

.left_box {
    width: 10%;
    margin: auto;
    font-size: 30px;
    font-weight: bold;

}

.center_box {
    width: 70%;
    text-align: left;
    margin-left: 30px;
}

.title1 {
    font-weight: bold;
}

.content1 {
    font-size: 15px;
    color: #6B7280;
}

.right_box {
    width: 20%;
    text-align: right;
    margin-right: 40px;
}

.title2 {

    color: #2563EB;
    font-weight: bold;
}

.content2 {
    color: red;
    font-size: 15px;
}


#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    text-decoration-line: none;
    margin-left: 100px;
}

#logo h2 {
    margin-left: 10px;
    color: #3B82F6;
}